* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

:root {
  --scroll-length-const: 4;
  --scroll-length: calc(var(--scroll-length-const)*100vh);
}

body {
  font-family: sans-serif;

  border: 5px solid red;
  height: var(--scroll-length);
}

ul {
  border: 4px solid blue;
}

li {
  border: 3px solid green;
}